.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}
.overlay {
    background-color: black;
    opacity: 0.6;
 }
.modal-inner{
    width:994px;
    height:494px;
    position:absolute;
    display:flex;
    top:115px;
    left:430px;
    z-index: 1000;
    flex-direction: column;
    background: white;
    box-shadow: inset 0px -17px 42px rgba(39, 48, 55, 0.16);
    border-radius: 8px;
}
.topbar{
    display: flex;
    align-items: center;
    width: 954px;
    justify-content: space-between;
    height:44px;
    background-color:#273037;
    border-radius: 8px 8px 0 0;
    padding-left:20px;
    padding-right:20px;
    
}
.main{
    display:flex;
    width:994px;
    height:450px;
}
.right{
    height:450px;
    background-color: aqua;
    width:650px;
    border-radius: 0 0 8px 0;
}
.left{
    height:450px;
    padding-left:10px;
    width:344px;
    display:flex;
    flex-direction: column;
}
.detail{
    width:100%;
    height:100%;
    display:flex;
    align-items: center;
    justify-content: center;

}
.option{
    width:150px;
    height:28px;
    font-style: normal;
    font-weight: 550;
    font-size: 20px;
    color: #000000;
}
.answer{
    width:150px;
    height:28px;
    padding-left:15px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #667085;
}